.icone-labetube {
    display: flex;
    align-items: center;
}
header {
    display: flex;
    background-color: darkorange;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 50px;
}
.videos {
    display:grid;
    margin: 10px;
    box-shadow: 3px 3px 3px 3px rgb(37, 152, 230);
}
video{
    width: 300px;
}
main {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
}
footer{
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(177, 175, 175);
    height: 50px;
}
img{
    height: 25px;
}
.imagem{
    height: 15px;
    width: 10px;
}

.imagem-video{
    height: 200px;
    width: 200px;
    display:grid;
    margin: 10px;
    box-shadow: 3px 3px 3px 3px rgb(37, 152, 230);
}

