*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

header{
    background-color:mediumvioletred;
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    grid-template-columns: 50px 1fr 50px;
}

.img-cabecalho{
    width: 35px
}

.img-menu{
    width: 35px;
}

/* #menu{
background-color: #F2D0E0;
width: 300px; 
height: 1500px; 
position: relative;
} */

nav{
    display: grid;
    background-color: #F2D0E0;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 15fr;
    align-items: start;
    justify-items: start;
    padding-left: 10px;
    padding-top: 20px;
    width: 200px;
}

nav img{
    width: 25px;
}

div p{
    margin-left: 25px;
    margin-top: 8px;
}

#pagina{
    display: grid;
    grid-template-rows: 60px 1fr 45px;
    min-height: 100vh;
}

#descricao {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.imagem-bolo {
    width: 200px;
}

.bolo-icone{
    margin:10px;
}

.cartao-bolo {
    margin: 15px;
    box-shadow: 15px 10px 10px silver
}

.texto-rodape{
    text-align: center;

}

footer {
    background-color:mediumvioletred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    grid-template-columns: 100px 1fr 100px;
    position: relative;
}

main {
    display:flex;
}


